version: '3.1'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: asdf
      POSTGRES_USER: postgres
      POSTGRES_DB: demo_voting

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/home/code
    ports:
      - "8000:8000"
    depends_on:
      - db
